#!/bin/bash

ecr() {
	$(aws ecr get-login --no-include-email --region eu-central-1)
}

cclean() {
	docker rm $(docker ps -qa)
}

iclean() {
	docker rmi $(docker images -q -f dangling=true)
}

node() {
	docker run --rm -it node:9.6.1 $1
}

t() {
	docker run --rm -t -v "${HOME}/.trc:/root/.trc" --log-driver none r.j3ss.co/t $@
}
