! special
*.foreground:   		#c5c8c6
*.background:   		#263238
*.cursorColor:  		#c5c8c6
*depth:                 	32
*fading:                	40
*fadeColor:             	#f1e655
*pointerColorBackground:	#212d32
*pointerColorForeground:	#7986cb

! black
*.color0:       #212d32
*.color8:       #37474f

! red
*.color1:       #ec5f67
*.color9:       #f77669

! green
*.color2:       #8bd649
*.color10:      #c3e88d

! yellow
*.color3:       #f1e655
*.color11:      #f8e71c

! blue
*.color4:       #85678f
*.color12:      #5f819d

! magenta
*.color5:       #7986cb
*.color13:      #82b1ff

! cyan
*.color6:       #5c7e8c
*.color14:      #80cbc4

! white
*.color7:       #707880
*.color15:      #cdd3de



*utf8:		1
*saveLines:	999999

!-- Xft settings -- !
Xft.dpi:        192
Xft.lcdfilter:	lcddefault
Xft.rgba:       rgb
Xft.autohint:   0
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

URxvt*font:xft:Ubuntu\ Mono:bold:pixelsize=30:antialias=true,xft:Ubuntu\ Mono\ derivative\ Powerline:bold:pixelsize=20:antialias=true
URxvt.boldFont: xft:Ubuntu Mono:style=bold:pixelsize=30:antialias=true:hinting:full


URxvt*scrollTtyOutput:	false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
*scrollBar:             false

URxvt.perl-ext-common:      default,matcher,selection-to-clipboard,clipboard
URxvt.matcher.button:       1
URxvt.url-launcher:         /usr/bin/xdg-open


! Clear screen
URxvt.keysym.Control-l: command:\033c

